<div ng-cloak ng-init="init()">
  <h3>Welcome to your Dashboard</h3>
  <p>My PELs...</p>

  <ul>
    <li ng-repeat="pel in pels">
      <p>{{pel.id}} - (Created Date: {{pel.created_at}})</p>
      <ul><li ng-repeat="question in pel.questions">
        <p>Area: {{question.body}} - Priority: {{question.priority}} - Score: {{question.score}}<p>
      </li></ul>
    </li>
  </ul>

  <button ng-click="new()">Create New PEL</button>
<div>