<div ng-cloak ng-init="init()" fade-animation="true">
  <h3>Welcome to your Dashboard</h3>

  <ul class="list-group">
    <li ng-repeat="pel in pels | orderBy:'-created_at'" class="list-group-item">
      <h5>
        Created Date: {{pel.created_at | date:'mediumDate'}}
        <small>(id: {{pel.id}})</small>
        <span class="label label-success" ng-show="isNew(pel)">new!</span>
      </h5>
      <ol><li ng-repeat="question in pel.questions | orderBy:'priority'">
        <p>{{question.body}} (Score: {{question.score}})<p>
      </li></ol>
  
      <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default" ng-click="edit(pel.id)">Edit</button>
        <button class="btn btn-default disabled">Make a Copy</button>
      </div><br>
    </li>
  </ul>

  <button class="btn btn-default btn-sm pull-right" ng-click="new()">
    Create New Personal Engagement List
  </button>
<div>