<div ng-cloak ng-init="init()">
  <h3>Create New Request</h3>

  <div errors></div>

  <div ng-show="invalid_recipients != null && invalid_recipients.length > 0" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        The following enterprise ids seemed to be invalid:
      </h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="invalid_recipient in invalid_recipients" class="redText">
        <strong>{{invalid_recipient}}</strong>
      </div>
    </div>
  </div>

  <div class="alert alert-success alert-dismissable" ng-show="invalid_recipients != null && invalid_recipients.length == 0">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Request has been successfully created
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Recipients</span>
      <input type="text" class="form-control" ng-model="request.recipients" placeholder="comma separated (john.doe, jane.doe)">
    </div><br>
    <textarea row="3" class="form-control" placeholder="Want to include a message?" ng-model="request.message">
    </textarea>
  </div>

  <button class="btn btn-success" ng-click="create()">Create</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
<div>
