<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Template Questions <small>Manage the list of areas for Personal Engagement Lists</small></h3>
    </div>

    <%= render 'form' %>
  </div>
</div>
