$dangerTextColor: #A94442;
$lightGreenColor: #EBFFED;

// Template: new.html

.draggable {
  cursor: move
}

.pull-up {
  margin-top: -25px;
}

.redBadge {
  background: red;
}

.yellowBadge {
  color: gray;
  background: yellow;
}

.greenBadge {
  background: green;
}

.orangeBadge {
  background: orange;
}

.btn-question-close {
  margin-top: 4px;
}

// Template: new_request.html

.redText {
  color: $dangerTextColor;
}

// Template: inbox.html

.requestMessage {
  color: gray;
}

.requestCompleted {
  background: $lightGreenColor;
}

// Common
.spinner
{
  width: 256px;
  margin: 0px auto;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  position: fixed;
  margin-top: -43px;
  background: white;
  border: 1px solid black;
  height: 65px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px gray;
  text-align: center;
  color: black;
  z-index:999;
}