$dangerTextColor: #A94442;

// Template: new.html

.draggable {
  cursor: move
}

.pull-up {
  margin-top: -25px;
}

.redBadge {
  background: red;
}

.yellowBadge {
  color: gray;
  background: yellow;
}

.greenBadge {
  background: green;
}

.orangeBadge {
  background: orange;
}

.btn-question-close {
  margin-top: 4px;
}

// Template: new_request.html
.redText {
  color: $dangerTextColor;
}
