// Template: new.html

.draggable {
  cursor: move
}

.pull-up {
  margin-top: -25px;
}

.redBadge {
  background: red;
}

.yellowBadge {
  color: gray;
  background: yellow;
}

.greenBadge {
  background: green;
}

.btn-question-close {
  margin-top: 4px;
}